@model ResultadoModel
@if (Model != null)
{
    string claseResource = "resource-list listView";

    <div>
        <div class="@claseResource">
            @{
                if (Model.ListaResultados != null)
                {
                    foreach (ObjetoBuscadorModel resultado in Model.ListaResultados)
                    {
                        if (resultado is ResourceModel)
                        {
                                
                            @Html.PartialView("../CargadorResultados/_ResultadoRecursoGadget", (ResourceModel)resultado)
                        }
                    }
                }
            }
        </div>
    </div>
}
