@model RegisterDataViewModel
@*
Descripción
-----------------------------------------------
Vista que se utiliza para mostrar las preferencias a las que un usuario se puede apuntar durante el proceso de registro.
Se trata de una vista parcial que se utiliza para mostrar estas "categorias" el proceso de "Registro" en el paso 3 de Opciones de Interés. (_Preferencias.cshtml)


Plantillas - Archivos de dewenir
----------------------------------------------------------------



Variables
----------------------------------------------------------------
*@
@{
// Lista de Preferencias
Dictionary<Guid, KeyValuePair<string, Dictionary<Guid, string>>> listaPreferencias = Model.ListPreferences;
// Identificador autonumérico para cada uno de los items de las preferencias
int numCat = 1;

}

@*
----------------------------------------------------------------
-------------------- Vista parcial de mostrar Listas en modo Árbol para proceso de Registro --------------------
*@

@* Listado de Categorías en formato "ARBOL" *@
<div class="tab-pane fade show active"
     id="ver-arbol"
     role="tabpanel"
     aria-labelledby="ver-arbol-tab">
    <div class="divTesArbol divCategorias clearfix">

        @foreach (Guid catID in listaPreferencias.Keys)
        {
            <h4>@listaPreferencias[catID].Key</h4>
            <hr />
            PintarCategoriaRegistroDatos pintar = new PintarCategoriaRegistroDatos();
            pintar.listaPreferencias = listaPreferencias;
            pintar.catID = catID;
            pintar.numCat = numCat;
            @Html.PartialView("../RegistroDatos/_partial-views/_PintarCategoria", pintar)
            numCat += 1;
        }
    </div>
</div>
