@*
Descripción
-----------------------------------------------
Vista que se utilizará para contener un panel de tipo Collapse que explica el porque de tener un perfil público en Gnoss.
Esta vista se utiliza, por ejemplo, en el proceso de Registro. Si una Comunidad pertenece a GNOSS, este mensaje puede ser desplegado por el usuario.
Este mensaje se muetra en el paso de creación de perfil número 2.


Plantillas - Archivos de dewenir
----------------------------------------------------------------



Variables
----------------------------------------------------------------
*@
@{


}

@*
----------------------------------------------------------------
-------------------- Vista que muestra información acerca del perfil público del usuario en una comunidad --------------------
*@

<div class="collapse mt-3" id="collapseDondeMostrarPerfil">
    <div class="card card-body">
        <fieldset>
            <legend>
                <span id="lblTituloInfoVisiblePerfil">¿Por qué hacer público mi perfil?</span>
            </legend>
        </fieldset>
        <fieldset id="lblInfoVisibilidadPerfil">

            <p>Para RIAM I+L Lab es fundamental garantizar y proteger la privacidad y la confidencialidad de tus datos personales, de conformidad con la normativa legal en territorio español. No sirve de nada tener una política de privacidad excelente si no conseguimos que entiendas qué conlleva participar en nuestra red. Por ello, hemos procurado redactarlo en un lenguaje claro, intentando ser lo más breves posibles y evitando excesivos tecnicismos.</p>
            <fieldset>
                <p>Nuestra política de privacidad pretende garantizarte que:</p>
                <ul>
                    <li class="imitaLista">en cualquier momento puedes modificar la información de identificación personal que compartes. Entendemos que podrías no desear compartir tu información con todo el mundo; es por eso por lo que te damos el control de tu información. Nuestra política de privacidad por defecto limita la información que se despliega en tu perfil hacia tus redes. Tú eliges la información que quieres publicar y lo que los demás conocen de tí.</li>
                    <li class="imitaLista">en cualquier momento, si lo deseas, puedes cancelar tu cuenta sin engorrosos trámites burocráticos y cumpliendo con los requisitos legales de protección y conservación de datos. Sólo conservaremos aquellos datos que la ley nos exija por el tiempo que nos exija.</li>
                    <li class="imitaLista">los datos que nos facilites no van a ser cedidos a otras empresas o, si  pretendemos hacerlo, vas a ser informado con antelación de ello para que tengas la posibilidad de consentir dicha cesión o de negarte a ello.</li>
                </ul>
            </fieldset>

            <fieldset>
                <legend>Datos necesarios cuando utilizas GNOSS:</legend>

                <p>
                    Hay una información que es necesaria que nos facilites, como tu nombre y dirección electrónica, cuando tramites el alta en GNOSS. Esta información la utilizamos para crear tu perfil dentro de la red. Además, hay otra información como tu edad, currículo, videos, fotos que puedes facilitarla de forma adicional.<br>
                    Otra parte de la información se recaba automáticamente a través de la que tu ordenador emite automáticamente al acceder al servicio. Esta información incluye cookies (que facilitan y agilizan accesos futuros), tu dirección de protocolo de Internet IP y el tipo de explorador con el que accedes.<br>
                    La información puede ser completada adicionalmente por medio de la facilitada por terceros o bien mediante datos de dominio público.
                </p>
            </fieldset>

            <fieldset>
                <legend>Protección  de datos:</legend>
                <p>La protección de datos personales es una de las prioridades en GNOSS. Por ello, RIAM I+L Lab como titular de esta red social, garantizará en todo momento la privacidad de los datos considerados como personales que nos facilites a través de formularios y/o hojas de inscripción, perfil, etc. Estos datos pasarán a formar parte de un fichero automatizado que, conforme a la Ley 15/1999 de 13 de Diciembre y a su normativa de desarrollo, cumple con las medidas técnicas, organizativas y humanas necesarias para garantizar la seguridad y confidencialidad de los mismos.</p>
                <p>La recogida y tratamiento automatizado de estos datos personales tiene como finalidad principal la correcta gestión y desarrollo de las Comunidades de conocimiento, la identificación de las personas que participan en la red, así como la obtención de información básica para responder a las consultas que nos puedas plantear y otras actividades propias de RIAM I+L Lab.</p>

                <p>RIAM I+L Lab reconoce el ejercicio de tus derechos de acceso, rectificación, cancelación y oposición conforme a la legislación vigente. Para ello, debes dirigirnos tu solicitud a través de <a href="mailto:privacidad@gnoss.com">privacidad@gnoss.com</a>.</p>
            </fieldset>

            <fieldset>
                <legend>Usos de la información:</legend>
                <p>
                    La información que has facilitado la usaremos para mejorar la usabilidad y la experiencia de la red.<br>
                    Respetaremos el grado de confidencialidad de identificación personal contenida en tu perfil de acuerdo con tus preferencias. Usaremos tu dirección de correo para ponernos en contacto contigo por motivos de seguridad, para confirmar tu identidad o para envío de servicios asociados con tus preferencias.<br>
                    La información recabada de forma automática podrá ser usada para hacer estadísticas y obtener información sobre el número de personas que visitan la red. Nos servirá para mejorar GNOSS, adaptarlo a vuestras necesidades de servicio y optimizar su contenido.
                </p>
            </fieldset>

            <fieldset>
                <legend>Uso de invitaciones a las Comunidades:</legend>
                <p>
                    Si quieres que un amigo participe en la red y decides hacerlo mediante la herramienta de invitaciones de GNOSS, te pediremos únicamente que nos facilites una dirección de correo electrónico para el envío de la invitación.<br>
                    RIAM I+L Lab sólo usará esta información para el envío de la invitación y para hacer un seguimiento de esta herramienta.<br>
                    Si tu amigo no quiere formar parte de la red y quiere que eliminemos sus datos de nuestra base de datos, puede hacerlo en <a href="mailto:privacidad@gnoss.com">privacidad@gnoss.com</a>.
                </p>
            </fieldset>

            <fieldset>
                <legend>Cambios en la política:</legend>
                <p>GNOSS está en continuo cambio, al igual que sus textos y políticas; por ello publicaremos los cambios que durante el desarrollo del proyecto puedan llevarse a cabo. Lo publicaremos en un lugar fácilmente localizable, para que en todo momento sepas que información recabamos y utilizamos.</p>
                <p>Te recomendamos que frecuentemente revises estos documentos. Si realizamos algún cambio importante en esta política lo haremos público aquí, o bien mediante el envío de un correo electrónico a tu cuenta de contacto o, también, mediante una publicación en la página de inicio.</p>
            </fieldset>
    </div>
</div>

