@model EditSuscriptionViewModel
@*
Descripción
----------------------------------------------------------------
Vista que mostrará las categorías de una comunidad a las que un usuario podrá suscribirse. Estas categorías son mostradas en "Arbol"

@*
Variables
----------------------------------------------------------------
*@
@{ 
    
}
@*
----------------------------------------------------------------

-------------------- Vista para mostrar las categorías de una Comunidad en modo Árbol --------------------
*@

@* Listado de Categorías en formato "ARBOL" *@
<div class="tab-pane fade show active"
     id="ver-arbol"
     role="tabpanel"
     aria-labelledby="ver-arbol-tab">
    <div id="divSelCatTesauro" class="divTesArbol divCategorias clearfix">
        @foreach (CategoryModel categoria in Model.Categories.Where(cat => cat.ParentCategoryKey == Guid.Empty).OrderBy(cat => cat.Order))
        {
            PintarCategoriaCabecera pintar = new PintarCategoriaCabecera();
            pintar.editSuscriptionView = Model;
            pintar.pCategoria = categoria;
            @Html.PartialView("../Shared/_cabecera/_PintarCategoria", pintar)
        }
    </div>
</div>