@using Es.Riam.Gnoss.Web.MVC.Models;
@model CMSComponentRecentActivity
@*
Descripción
-----------------------------------------------
Vista que muestra el componente de Listado de usuarios para mostrar "Últimos miembros" o "Miembros más activos".

Variables
----------------------------------------------------------------
*@
@{

}
@*
----------------------------------------------------------------Vista CMS del componente de Vista de Usuarios --------------------*@
@if (Model != null)
{
    if (Model.RecentActivity.NumPage > 1)
    {
        @Html.PartialView("ControlesMVC/_ActividadReciente", Model.RecentActivity)
    }
    else if (Model.RecentActivity.RecentActivityItems.Count > 0)
    {
    <div class="resource-list social-events-list">
        <p class="tituloComponente">@Model.Title</p>
        <div class="resource-list social-events-list widthTabs">
             @Html.PartialView("ControlesMVC/_ActividadReciente", Model.RecentActivity)
        </div>
    </div> 
    }
}
