@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <script type="text/javascript">
        @Html.Raw(Model)
    </script>
</body>
</html>
