@{

    CommunityModel Comunidad = Html.GetComunidad();
    HeaderModel Cabecera = Html.GetCabecera();
    UserIdentityModel IdentidadActual = Html.GetIdentidadActual();
    Html.SetOcultarMenusComunidad(true);
}

<div id="col01">
    <p>@Html.GetText("REGISTRO", "FINREGISTROTUTOR")</p>
</div>

