@model AdministrarSolicitudesUsuarioModel
@*
Descripción
-----------------------------------------------
Nueva vista que muestra el header Solicitudes de acceso de usuarios a una determinada comunidad.

Variables
----------------------------------------------------------------*@
@{
    // Nombre del tipo de búsqueda que se mostrará
    string nombrePestanyaActual = Model.PageName;
}

@*
----------------------------------------------------------------
-------------------- Header de Administración de solicitudes de usuarios de una comunidad --------------------
*@

<div class="col col-12 header-listado">
    <div class="h1-container">
        <h1>@nombrePestanyaActual <span id="panNumResultados" class="numResultados">@Model.NumeroResultadosTotal</span></h1>
    </div>
</div>