@model PintarCategoriasIndice
@*
    Descripción
    ----------------------------------------------------------------
    Vista que mostrará las categorías de una comunidad a partir del índice. Estas categorías son mostradas en "Arbol" a modo de Tesauro

    @*
    Variables
    ----------------------------------------------------------------
*@
@{

}
@*
    ----------------------------------------------------------------

    -------------------- Vista para mostrar las categorías de una Comunidad en modo Árbol --------------------
*@

@* Listado de Categorías en formato "ARBOL" *@
<div class="tab-pane fade show active"
     id="ver-arbol"
     role="tabpanel"
     aria-labelledby="ver-arbol-tab">
    <div id="divSelCatTesauro" class="divTesArbol divCategorias clearfix">
        @foreach (CategoryModel categoria in Model.indexView.Categories.Where(cat => cat.ParentCategoryKey == Guid.Empty).OrderBy(cat => cat.Order))
        {
            PintarCategoriasIndice pintar = new PintarCategoriasIndice();
            pintar.indexView = Model.indexView;
            pintar.categoryModel = categoria;
            @Html.PartialView("../Indice/_PintarCategoriaTesauro", pintar)
        }
    </div>
</div>