@using Es.Riam.Gnoss.Web.MVC.Models;
@model CMSComponentSearchBox

@{
    HeaderModel cabecera = Html.GetCabecera();
}
@if (Model != null)
{   
    <div class="col-buscador" style="width: 100%;">        
        <form method="post" class="encontrar_cms_form" action="@Model.UrlBusqueda">
            <fieldset style="display: block" class="form-inline">
                <legend class="nota">buscador</legend>                
                @if (!string.IsNullOrEmpty(Model.Title))
                {                   
                   <label class="control-label d-block">@Model.Title</label>
                }   
                <div class="fieldsetGroup searchGroup finderUtils">
                    <div class="group finderSection">
                        <input type="text" id="criterio"
                               origen="@Model.AutocompleteID" 
                               placeholder="@Model.DefaultText"
                               class="text defaultText autocompletar finderSectionText input_buscador_cms"                                       
                               autocomplete="off">
         
                        <input type="button" class="encontrar_cms findAction">                                                               
                        <input type="submit" id="btEncontrar" class="encontrar encontrar_cms_submit d-none" />

                    </div>
                </div>
            </fieldset>
        </form>
    </div>
}
