@model List<ProfileModel>
@if (Model != null)
{   
    <div class="resource-list">
        @foreach (ProfileModel perfil in Model)
        {
            <div class="resource">
                <div class="box description">
                    <div class="group title">
                        <h4>@perfil.NamePerson</h4>
                        <div class="logoComunidad">
                            <p rel="sioc:has_creator" class="imagenIcono personaSinImagen"></p>
                            @if (!string.IsNullOrEmpty(perfil.UrlFoto))
                            {
                                <img src="@Html.GetBaseUrlContent()/@perfil.UrlFoto" />
                            }
                        </div>
                    </div>
                    <div class="group acciones">
                        <p></p>
                        <ul>
                            <li><a onclick="AccionPerfil_Seguir(this, '@perfil.ListActions.UrlFollow')">Seguir</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
}