<div id="wrap">
    <div id="page">
        <div class="breadcrumb" id="breadcrumb">
            <div class="box">
                <p>Estás en:</p>
                <ol>
                    
                    <li>Índice</li>
                </ol>
            </div>
        </div>

        <div id="section">

            Has borrado la caché, ¡Enhorabuena!

            <div id="content">
                <div>
                    <div id="col02">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
