@model ResourceModel
@*
Descripción
-----------------------------------------------
Pequeña vista que muestra las diferentes comunidades donde un recurso está siendo compartido.
Esta pequeña vista se utiliza en index.cshtml de "FichaRecurso"

Variables
----------------------------------------------------------------
*@
@{
@* Nº máximo de comunidades que se mostrarán donde se está compartiendo el Recurso *@
int maxNumCommunityShared = 100;
int positionCommunity = 0;
}
@*
----------------------------------------------------------------
-------------------- Vista que muestra las comunidades donde se está compartiendo un recurso --------------------*@

@if (Model.Shareds != null && Model.Shareds.Count > 0)
{
    <p class="group-title">@Html.GetText("LISTARECURSOS", "COMPARTIDOEN"):</p>
    <div>
        <div class="listado-comunidades">
            <ul class="no-list-style d-flex">
                @{
                    PintarSharedCommunity pintar1 = new PintarSharedCommunity();
                    pintar1.resourceModel = Model;
                    pintar1.pintarNumerLimitado = true;
                    pintar1.listaBaseRecursos = Model.Shareds;
                    pintar1.position = positionCommunity;
                }
                @Html.PartialView("../FichaRecurso/_PintarSharedCommunity", pintar1)
            </ul>
        </div>

        @* Comprobar si hay más de X comunidades para visualizar *@
        @if (Model.Shareds.Count > maxNumCommunityShared)
        {
            <div class="listado-comunidades listado-comunidades-extra collapse" id="js-lista-comunidades-extra">
                <ul class="no-list-style d-flex">
                    @{
                        PintarSharedCommunity pintar2 = new PintarSharedCommunity();
                        pintar2.resourceModel = Model;
                        pintar2.pintarNumerLimitado = false;
                        pintar2.listaBaseRecursos = Model.Shareds;
                        pintar2.position = maxNumCommunityShared;
                    }
                    @Html.PartialView("../FichaRecurso/_PintarSharedCommunity", pintar2)
                </ul>
            </div>
            <a class="btn ver-mas icono-flecha-abajo con-icono-after collapsed"
               data-toggle="collapse"
               data-target="#js-lista-comunidades-extra"
               aria-expanded="false"
               aria-controls="js-lista-comunidades-extra">
                <span class="mas">Ver más</span>
                <span class="menos">Ver menos</span>
            </a>
        }
    </div>
}