@*
Descripción
-----------------------------------------------
Vista que muestra los posibles resultados encontrados por el MetaBuscador.
Estos resultados se mostrarán justo debajo del input del buscador de las páginas listando los resultados encontrados

Variables
----------------------------------------------------------------
*@


@*
----------------------------------------------------------------
-------------------- Vista de resultados obtenidos por el metaBuscador --------------------
*@

@* Metabuscador principal *@
<div id="metabuscador-panel-resultados" class="metabuscador-panel-resultados d-none" aria-expanded="false">
    <div class="container">
        <span class="metabuscador-panel-close material-icons-outlined">close</span>
        <div class="row">
            @*<div role="presentation"
                 class="col metabuscador-panel-resultados-bloque">
                <div class="metabuscador-panel-resultados-bloque-contenido">
                    <h2>Recursos</h2>
                    <ul class="metabuscador-list-items articulo">
                        <li class="metabuscador-item">Resultado 1</li>
                    </ul>
                </div>
            </div>
            <div role="presentation"
                 class="col metabuscador-panel-resultados-bloque">
                <div class="metabuscador-panel-resultados-bloque-contenido">
                    <h2>Debates</h2>
                    <ul class="metabuscador-list-items debate">
                        <li class="metabuscador-item">Debate 1</li>
                    </ul>
                </div>
            </div>
            <div role="presentation"
                 class="col metabuscador-panel-resultados-bloque">
                <div class="metabuscador-panel-resultados-bloque-contenido">
                    <h2>Preguntas</h2>
                    <ul class="metabuscador-list-items pregunta">
                        <li class="metabuscador-item">Pregunta 1</li>
                    </ul>
                </div>
            </div>
            *@
        </div>
    </div>
</div>
